/* Custom Stylesheet */

.html,body, #container {
    height:100%;
    font-size: 100%;
}

body > #container {
    height: auto;
    min-height: 100%;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.app-logo{
    height:45px;
    margin-right: 10px;
}
.app-title-logo{
    font-size: 2em;
}
.app-background{
    background-image: url("../images/background.png");
}
.search-bar{
    background-color: wheat;
    width:600px;
}
.top-purple-color{
    background-color: #573D7D;
}
.card-user-text-margin {
    margin-left:6px;
}
.card-icon-margin {
    margin-left:12px;
}

a.card-hyperlink{
    text-decoration: none;
    color: black;
}
a.card-blog-hyperlink{
     color:orange;
 }
a.card-blog-hyperlink:hover{
    color:orange;
    text-decoration: underline;
}
.top-margin{
    margin-top: 25px;
}

.app-footer-bottom {
    position: absolute;
    width: 100%;
    bottom:0;
}

.app-octocat {
    width: 70%;
}